
div:nth-child(1) {
  background-color:#ACF39D;
}
div:nth-child(2) {
  background-color:#CAA97D;
}
div:nth-child(3) {
  background-color: #E85F5C;
}
 div:nth-child(4) {
  background-color: #C2AFAB;
}
div:nth-child(5) {
  background-color: #9CFFFA;
}
div:nth-child(6) {
  background-color: #8A999F;
}
div:nth-child(7) {
  background-color:#773344 ;
} 
div:nth-child(8) {
  background-color: #AD7474;
}
div:nth-child(9) {
  background-color:#E3B5A4;
}

@media(min-width: 568px) {
  div:nth-child(1) {
    background-color:#4F6D7A;
  }
  div:nth-child(2) {
    background-color:#88A2AD;
  }
  div:nth-child(3) {
    background-color: #C0D6DF;
  }
   div:nth-child(4) {
    background-color: #CEE0E7;
  }
  div:nth-child(5) {
    background-color: #DBE9EE;
  }
  div:nth-child(6) {
    background-color: #93ACCA;
  }
  div:nth-child(7) {
    background-color:#4A6FA5 ;
  } 
  div:nth-child(8) {
    background-color: #306897;
  }
  div:nth-child(9) {
    background-color:#166088;
  }
}

@media(min-width: 830px) {
  div:nth-child(1) {
    background-color:#818479;
  }
  div:nth-child(2) {
    background-color:#9BA898;
  }
  div:nth-child(3) {
    background-color: #B5CBB7;
  }
   div:nth-child(4) {
    background-color: #C4D8BE;
  }
  div:nth-child(5) {
    background-color: #D2E4C4;
  }
  div:nth-child(6) {
    background-color: #DBE7BB;
  }
  div:nth-child(7) {
    background-color:#E4E9B2 ;
  } 
  div:nth-child(8) {
    background-color: #E6E59F;
  }
  div:nth-child(9) {
    background-color:#E7E08B;
  }
}